# Ficheros .java generados por el Parser
Compilador/Parser/parser.java
Compilador/Parser/sym.java

# Ficheros .java generados por el Lexer
Compilador/Lexer/Yylex.java

# Ficheros compilados por nuestra práctica, las librerías se mantienen
Compilador/Compiled/*

# Ficheros compilados de la pŕactica XML
XML/**/*.class
